section.subscribe
    h2.subscribe__title Wanna subscribe on the last news about fashionable haircuts and best discounts?!
    span.subscribe__subtitle Subscribe on us here!
    form(action="").subscribe__form
        input(type="email" name="email" placeholder="example@gmail.com").email
        input(type="submit" value="Subscribe").submit__btn