.clients
    position: relative
    width: 100vw
    height: 100vh

.clients__title
    margin: 0 auto
    padding: 2rem
    font-size: 3rem
    text-align: center
    transform: translateX(1.2)

.clients__container
    margin: 0
    position: absolute
    left: 0
    right: 1rem
    bottom: 0
    width: auto
    height: 80%
    display: flex
    justify-content: center

.clients__cont__arrows
    position: relative

.arrow
    position: absolute
    width: 15%
    height: 100%

.arrow:hover
    cursor: pointer
    
.left
    left: 0
    
.right
    right: 0

.clients__outer
    width: 70%
    height: 100%
    position: relative
    overflow-x: hidden
    overflow-y: hidden

.clients__inner
    margin: 0 20rem
    position: absolute
    left: -4rem
    width: 300vw
    display: flex
    justify-content: space-between
    overflow-y: hidden
    transition: left 2s

.client-block
    margin: 0
    padding: 2rem
    border-radius: 2rem
    width: 30vw
    height: 65vh
    background-color: rgba(220, 219, 219, 0.65)

.client-block__name
    font-size: 1.8rem
    text-align: center
    
.client-block__pic
    margin: 0 auto
    border: 1px solid rgba(123, 149, 255, 0.7)
    border-radius: 50%
    height: 10rem
    width: 10rem
    display: block

.client-block__text
    margin: 0 auto
    padding: 1rem 0
    text-align: justify
    font-size: 1.3rem
    width: 80%