section.clients
    h2.clients__title Our best customers
    .clients__container
        .clients__cont__arrows
        .arrow.left
            img(src="../../../assets/leftArrow.png" alt="leftArrow")
        .clients__outer
            .clients__inner
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/barbet.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Barbet
                    p.client-block__text Go to VinGroomery every week till I ceased to be a puppy. Being so hairy dog need to maintain a good appearance. And VinGroomery is doing great this stuff!
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/barbet.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Barbet
                    p.client-block__text Go to VinGroomery every week till I ceased to be a puppy. Being so hairy dog need to maintain a good appearance. And VinGroomery is doing great this stuff!
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/barbet.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Barbet
                    p.client-block__text Go to VinGroomery every week till I ceased to be a puppy. Being so hairy dog need to maintain a good appearance. And VinGroomery is doing great this stuff!
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/barbet.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Barbet
                    p.client-block__text Go to VinGroomery every week till I ceased to be a puppy. Being so hairy dog need to maintain a good appearance. And VinGroomery is doing great this stuff!
        .arrow.right
            img(src="../../../assets/rightArrow.png" alt="leftArrow")