section.clients
    h2.clients__title Our best clients
    .clients__container
        .clients__cont__arrows
        .arrow.left
            img(src="../../../assets/leftArrow.png" alt="leftArrow")
        .clients__outer
            .clients__inner
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/barbet.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Barbet
                    p.client-block__text Go to VinGroomery every week till I ceased to be a puppy. Being so hairy dog need to maintain a good appearance. And VinGroomery is doing great this stuff!
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/horse.jpg" alt="Horse").client-block__pic
                    h3.client-block__name Trappy
                    p.client-block__text Only in this, I'm not afraid the word, Barbershoop professionals know how to cope with my bangs
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/poodle.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Welsie
                    p.client-block__text The barber is very skillful in its movements, so I can be quiet about my wool:)
                div.clients__container__client-block.client-block 
                    img(src="../../../assets/cat.jpg" alt="Barbet").client-block__pic
                    h3.client-block__name Sphynx
                    p.client-block__text The most tender shaving in the world! Definitely recomend for everyone wanting to get rid from old debries
        .arrow.right
            img(src="../../../assets/rightArrow.png" alt="leftArrow")