section.subscribe
    h2.subscribe__title Do you want to subscribe on the last news about the last fashionable haircuts and best discounts?!
    span.subscribe__subtitle Subscribe on us here!
    form(action="get").subscribe__form
        input(type="email" name="email" value="example@gmail.com").email
        input(type="submit" value="Subscribe").submit__btn