section.header
    nav.header__nav.nav
        img.nav__logo
        ul.nav__menu.menu
            li.menu__item Main
            li.menu__item Haircuts
            li.menu__item Subscribe
    h1.header__title Welcome to the VinGroomery
    h2.header__subtitle Let your pet to have a reason to love you

