footer
    div.icons
        script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3")
        a(target="http://localhost:3000" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore")
            img(src="../../../assets/icons/facebook.png" alt="fb" class="socialIcon")
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false")
            img(src="../../../assets/icons/twitter.png" alt="Twitter" class="socialIcon")
        a(href="https://api.whatsapp.com/send?text=%20http%3A%2F%2Flocalhost%3A3000%2Ftest-ground#")
            img(src="../../../assets/icons/whatsapp.png" alt="whatsapp" class="socialIcon")
        script(async src="https://static.addtoany.com/menu/page.js")
        a(href="https://www.instagram.com/")
            img(src="../../../assets/icons/instagram.png" alt="intagram" class="socialIcon")
    
    div#author
        span Written by 
            a(href="mailto:st_dom@gmail.com") Stas Domanskyi
        span All rights reserved ®