doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title VinGroomery
    body
        include components/slider/slider
        include components/clients/clients
        include components/pride/pride
        include components/popup/popup
        include components/subs/subs
        include components/footer/footer
