section.pride
    h2.pride__title Haircuts we are proud of
    div.pride__container 
        div.pride__item
            img(src="../../../assets/haircut2.png" alt="One more awesome photo").pride__item__pic
            span.pride__item__text
        div.pride__item
            img(src="../../../assets/haircut3.png" alt="One more awesome photo").pride__item__pic
            span.pride__item__text
        div.pride__item
            img(src="../../../assets/haircut1.png" alt="One more awesome photo").pride__item__pic
            span.pride__item__text
        div.pride__item
            img(src="../../../assets/haircut4.png" alt="One more awesome photo").pride__item__pic
            span.pride__item__text
        div.pride__item
            img(src="../../../assets/haircut5.png" alt="One more awesome photo").pride__item__pic
            span.pride__item__text
        div.pride__item
            img(src="../../../assets/haircut6.png" alt="One more awesome photo").pride__item__pic
            span.pride__item__text