div.slider
    include ../header/header
    span#slider-image-1
    span#slider-image-2
    span#slider-image-3
    div.slider__image-container.image-container
        img(src="../../../assets/slide1.jpg" class="image-container__item" alt="white dog")
        img(src="../../../assets/slide2.jpg" class="image-container__item" alt="woolly mammoth")
        img(src="../../../assets/slide3.jpg" class="image-container__item" alt="running dog")
    div.slider__button-container.button-container
        a(href="#slider-image-1" class="button-container__item")
        a(href="#slider-image-2" class="button-container__item")
        a(href="#slider-image-3" class="button-container__item")